on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

concurrency: release-please

jobs:
  release-please-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: google-github-actions/release-please-action@v3
        name: release-please-test
        with:
          token: ${{ secrets.TOKEN }}
          release-type: go
          prerelease: true
          versioning-strategy: prerelease
          changelog-path: CHANGELOG/Test.md
          tag-separator: '/'
          default-branch: main
          release-as: v1.0.0-beta0

  release-please-prod:
    runs-on: ubuntu-22.04
    needs: release-please-test
    steps:
      - uses: google-github-actions/release-please-action@v3
        name: release-please-prod
        with:
          token: ${{ secrets.TOKEN }}
          release-type: go
          changelog-path: CHANGELOG/Prod.md
          tag-separator: '/'
          default-branch: prod
          release-as: v1.0.0
