on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

concurrency: release-please

jobs:
  release-please-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: google-github-actions/release-please-action@v3
        name: release-please-test
        with:
          token: ${{ secrets.TOKEN }}
          release-type: go
          prerelease: true
          versioning-strategy: prerelease
          changelog-path: CHANGELOG/Test.md

      - uses: google-github-actions/release-please-action@v3
        if: steps.release-please-test.outputs.release-created == 'true'
        name: release-please-prod
        with:
          token: ${{ secrets.TOKEN }}
          release-type: go
          changelog-path: CHANGELOG/Prod.md
